target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/shelf
.idea/**
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/codeStyles/codeStyleConfig.xml
/data/marketdb.mv.db
/.idea/codeStyles/Project.xml
/out/artifacts/ed_monitor_jar/ed-monitor.jar
/data/marketdb.trace.db
/src/main/java/com/zergatstage/DemoApp.java
.idea/jpa.xml
ed-monitor-server/data/**
/slim-runtime/
/ed-monitor-swing/.idea/
data/marketdb-dev.mv.db
data/marketdb-dev.trace.db
